# Dependency directories (ห้ามอัพโฟลเดอร์ที่ลง library)
node_modules/

# Environments (ห้ามอัพไฟล์เก็บความลับ)
.env
.env.local
.env.*.local

# Debug logs (ไฟล์บันทึก error ไม่ต้องเอาไป)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files (ไฟล์ขยะของระบบปฏิบัติการ)
.DS_Store
Thumbs.db